.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 384px); /* or any fixed width */
  justify-content: space-between;
  gap: 16px;
}

.item {
  flex: 1;
}

@media (max-width: 807px) {
  .list {
    grid-template-columns: 1fr;
  }
}
